@import url('https://fonts.cdnfonts.com/css/typoster');
body {
    font-family: 'Typoster', sans-serif;;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
   }
   h1 {
    text-align: center;
    color: var(--tg-theme-text-color);
    margin-top: 50px;
   }
   .menu-container {
    background-color: var(--tg-theme-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
   }
   .menu-item {
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .menu-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
   }
   .menu-item h2 {
    font-size: 1.2em;
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
   }
   .menu-item p {
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--tg-theme-hint-color);
   }
   .cafe_item {
    margin-top: 20px;
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--tg-theme-button-color);
    font-size: 1em;
    cursor: pointer;
   }
